In [58]:
#! pip3 install beautifulsoup4
#! python3 -m pip install beautifulsoup4
# ! pip3 install nltk

In [68]:
# import nltk
# nltk.download('punkt')
# nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/wcunha69/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [39]:
import os
import pandas as pd

In [40]:
base_folder = os.getcwd()
training_dataset_path = os.path.join(
    base_folder, 
    "trainingandtestdata", 
    "training.1600000.processed.noemoticon.csv")

In [41]:
training_dataset = pd.read_csv(
    training_dataset_path, 
    encoding="latin-1", 
    warn_bad_lines=True,
    error_bad_lines=False,
    header=None, 
    names=["polarity", "id", "date", "query", "user", "tweet"])

print(
"""
Column definitions:
0 - the polarity of the tweet (0 = negative, 2 = neutral, 4 = positive)
1 - the id of the tweet
2 - the date of the tweet
3 - the query. If there is no query, then this value is NO_QUERY.
4 - the user that tweeted
5 - the text of the tweet
"""
)

Column definitions:
0 - the polarity of the tweet (0 = negative, 2 = neutral, 4 = positive)
1 - the id of the tweet
2 - the date of the tweet
3 - the query. If there is no query, then this value is NO_QUERY.
4 - the user that tweeted
5 - the text of the tweet

In [42]:
training_dataset = training_dataset.head(10)
training_dataset

,polarity,id,date,query,user,tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
5,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew
6,0,1467811592,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,mybirch,Need a hug
7,0,1467811594,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,coZZ,@LOLTrish hey long time no see! Yes.. Rains a...
8,0,1467811795,Mon Apr 06 22:20:05 PDT 2009,NO_QUERY,2Hood4Hollywood,@Tatiana_K nope they didn't have it
9,0,1467812025,Mon Apr 06 22:20:09 PDT 2009,NO_QUERY,mimismo,@twittera que me muera ?

In [43]:
training_dataset.polarity.value_counts()

0    10
Name: polarity, dtype: int64

In [77]:
## Cleansing text
import re
from bs4 import BeautifulSoup
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

def clean_twit(tweet):
    tweet = BeautifulSoup(tweet).get_text() # extract text from HTML
    tweet = tweet.lower() # convert text to lower-case
    tweet = re.sub('((www\.[^\s]+)|(https?://[^\s]+))', 'URL', tweet) # remove URLs
    tweet = re.sub('@[^\s]+', 'AT_USER', tweet) # remove usernames
    tweet = re.sub(r'#([^\s]+)', r'\1', tweet) # remove the # in #hashtag
    tweet = word_tokenize(tweet) # remove repeated characters (helloooooooo into hello)    
    stopwords_en = stopwords.words("english")
    tweet = [w for w in tweet if not w in stopwords_en]
    return tweet

training_dataset["cleansed"] = training_dataset.apply(lambda row : clean_twit(row["tweet"]), axis = 1)

In [78]:
## Building vocabulary


https://towardsdatascience.com/creating-the-twitter-sentiment-analysis-program-in-python-with-naive-bayes-classification-672e5589a7ed

In [79]:
training_dataset.head()

,polarity,id,date,query,user,tweet,cleansed
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...","[AT_USER, URL, -, awww, ,, 's, bummer, ., shou..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,"[upset, ca, n't, update, facebook, texting, ....."
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,"[AT_USER, dived, many, times, ball, ., managed..."
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,"[whole, body, feels, itchy, like, fire]"
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....","[AT_USER, ,, 's, behaving, ., 'm, mad, ., ?, c..."

In [ ]:
def fit(X, Y):
    n_class_items = {}
    log_class_priors = {}
    word_counts = {}
    vocab = set()

    n = len(X)
    grouped_data = group_by_class(X, y)

In [81]:
# MNB = MultinomialNaiveBayes(
#     classes=np.unique(y),
#     tokenizer=Tokenizer()
# ).fit(X_train, y_train)
MNB = fit(X_train, Y_Train)

NameError: name 'fit' is not defined

In [80]:
y_hat = MNB.predict(X_test)
accuracy_score(y_test, y_hat)

NameError: name 'MNB' is not defined

In [7]:
print("""Steps:
    1 - Remove tagging
    2 - Remove URLs
    3 - Clean up by removing duplicated characters , special characters, etc
        - Should we remove punctuation? Exclamation points can be a way for identifying sentiment?
    4 - Tokenize (an array of words)
    ...
""")

Steps:
    1 - Remove tagging
    2 - Remove URLs
    3 - Clean up by removing duplicated characters , special characters, etc
        - Should we remove punctuation? Exclamation points can be a way for identifying sentiment?
    4 - Tokenize (an array of words)
    ...

In [1]:
print("""
https://towardsdatascience.com/sentiment-analysis-introduction-to-naive-bayes-algorithm-96831d77ac91
Check this: https://github.com/DrManishSharma/NLP/blob/master/SentiAnalysis.ipynb

https://towardsdatascience.com/creating-the-twitter-sentiment-analysis-program-in-python-with-naive-bayes-classification-672e5589a7ed
https://medium.datadriveninvestor.com/implementing-naive-bayes-for-sentiment-analysis-in-python-951fa8dcd928
https://www.datacamp.com/community/tutorials/simplifying-sentiment-analysis-python
https://levelup.gitconnected.com/movie-review-sentiment-analysis-with-naive-bayes-machine-learning-from-scratch-part-v-7bb869391bab
https://www.analyticsvidhya.com/blog/2017/09/machine-learning-models-as-apis-using-flask/
https://towardsdatascience.com/your-first-apache-spark-ml-model-d2bb82b599dd
""")

https://towardsdatascience.com/sentiment-analysis-introduction-to-naive-bayes-algorithm-96831d77ac91
Check this: https://github.com/DrManishSharma/NLP/blob/master/SentiAnalysis.ipynb

https://towardsdatascience.com/creating-the-twitter-sentiment-analysis-program-in-python-with-naive-bayes-classification-672e5589a7ed
https://medium.datadriveninvestor.com/implementing-naive-bayes-for-sentiment-analysis-in-python-951fa8dcd928
https://www.datacamp.com/community/tutorials/simplifying-sentiment-analysis-python
https://levelup.gitconnected.com/movie-review-sentiment-analysis-with-naive-bayes-machine-learning-from-scratch-part-v-7bb869391bab
https://www.analyticsvidhya.com/blog/2017/09/machine-learning-models-as-apis-using-flask/
https://towardsdatascience.com/your-first-apache-spark-ml-model-d2bb82b599dd

In [28]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import RegexpTokenizer

token = RegexpTokenizer(r'[a-zA-Z0-9]+')
cv = CountVectorizer(stop_words='english',ngram_range = (1,1),tokenizer = token.tokenize)
text_counts = cv.fit_transform(training_dataset['twit'])

ModuleNotFoundError: No module named 'nltk'